In [1]:
import pandas as pd

In [2]:
from Pathlib import Path

ModuleNotFoundError: No module named 'Pathlib'

In [3]:
from pathlib import Path

In [4]:
csv_path = Path ("../PyBank/budget_data.csv")

In [6]:
budget_data = pd.read_csv(csv_path)

In [7]:
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [8]:
budget_data['change'] = budget_data.iloc[:,1].diff(1)

In [9]:
budget_data.head()

       Date  Profit/Losses    change
0  Jan-2010         867884       NaN
1  Feb-2010         984655  116771.0
2  Mar-2010         322013 -662642.0
3  Apr-2010         -69417 -391430.0
4  May-2010         310503  379920.0

In [10]:
budget_data.iloc[:,0].count()

86

In [12]:
budget_data.iloc[:,1].sum()

38382578

In [13]:
budget_data['change'].mean()

-2315.1176470588234

In [15]:
budget_data.iloc[:,[0,2]].max()

Date       Sep-2016
change    1926159.0
dtype: object

In [16]:
budget_data.iloc[:,[0,2]].min()

Date       Apr-2010
change   -2196167.0
dtype: object

In [27]:
Total_months = budget_data.iloc[:,0].count()
Total = budget_data.iloc[:,1].sum()
Average_change = budget_data['change'].mean()
Greatest_increase = budget_data.iloc[:,[0,2]].max()
Greatest_decrease = budget_data.iloc[:,[0,2]].min()

def data(Total_months, Total,Average_change,Greatest_increase, Greatest_decrease):
    Result = (f"Financial Analysis Total months: {Total_months}, Total:$ {Total}, Average change: {Average_change}, Greatest Increase In Profit: {Greatest_increase}, Greates Decrease in Profit: {Greatest_decrease}")
    return Result

In [26]:
c = data(Total_months, Total,Average_change,Greatest_increase, Greatest_decrease)
print (c)

Financial Analysis Total months: 86, Total:$ 38382578, Average change: -2315.1176470588234, Greatest Increase In Profit: (Date       Sep-2016
change    1926159.0
dtype: object), Greates Decrease in Profit: (Date       Apr-2010
change   -2196167.0
dtype: object)

In [2]:
import sys
sys.stdout

In [3]:
import numpy as np

In [5]:
budget_data.head()

NameError: name 'budget_data' is not defined

In [1]:
import pandas as pd

In [2]:
from Pathlib import Path

ModuleNotFoundError: No module named 'Pathlib'

In [3]:
from pathlib import Path

In [4]:
csv_path = Path ("../PyBank/budget_data.csv")

In [5]:
budget_data = pd.read_csv(csv_path)

In [6]:
budget_data['change'] = budget_data.iloc[:,1].diff(1)

In [7]:
budget_data.head()

       Date  Profit/Losses    change
0  Jan-2010         867884       NaN
1  Feb-2010         984655  116771.0
2  Mar-2010         322013 -662642.0
3  Apr-2010         -69417 -391430.0
4  May-2010         310503  379920.0

In [8]:
Total_months = budget_data.iloc[:,0].count()
Total = budget_data.iloc[:,1].sum()
Average_change = budget_data['change'].mean()
Greatest_increase = budget_data.iloc[:,[0,2]].max()
Greatest_decrease = budget_data.iloc[:,[0,2]].min()

def data(Total_months, Total,Average_change,Greatest_increase, Greatest_decrease):
    Result = (f"Financial Analysis Total months: {Total_months}, Total:$ {Total}, Average change: {Average_change}, Greatest Increase In Profit: {Greatest_increase}, Greates Decrease in Profit: {Greatest_decrease}")
    return Result

In [9]:
import numpy as np

In [10]:
c = data(Total_months, Total,Average_change,Greatest_increase, Greatest_decrease)
print (c)

Financial Analysis Total months: 86, Total:$ 38382578, Average change: -2315.1176470588234, Greatest Increase In Profit: Date       Sep-2016
change    1926159.0
dtype: object, Greates Decrease in Profit: Date       Apr-2010
change   -2196167.0
dtype: object

In [ ]:
import sys
file = open('output.txt', 'a')
sys.stdout = file

print("Financial Analysis") 
print("-------------------")
print(f"Financial Analysis Total months: {Total_months}") 
print(f"Total:$ {Total}")
print(f"Average change:$ {Average_change}") 
print(f"Greatest Increase In Profit:($ {Greatest_increase})")
print(f"Greatest Decrease in Profit:($ {Greatest_decrease})") 

file.close()